<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script defer src="js/main.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header class="header wrapper">
      <div class="header__container">
        <div class="header__logo">
          <a href="#">
            <img src="../assets/logo.png" alt="Север-связь" />
          </a>
        </div>

        <div class="header__menu menu">
          <div class="menu__burger-icon">
            <span></span>
          </div>

          <menu class="menu__body">
            <ul class="menu__list">
              <li><a href="#" class="menu__link">Интернет</a></li>
              <li><a href="#" class="menu__link">Телевидение</a></li>
              <li class="menu__sub">
                <a href="#" class="menu__subMenuLink">Выгодно</a>
                <span class="menu__arrow"></span>
                <ul class="menu__sub-list">
                  <li><a href="#" class="menu__sub-link menu__link">Интернет+TV</a></li>
                  <li>
                    <a href="#" class="menu__sub-link menu__link">Конструктор тарифа</a>
                  </li>
                </ul>
              </li>
              <li><a href="#" class="menu__link">Видеонаблюдение</a></li>
              <li><a href="#" class="menu__link">Оборудование</a></li>
              <li class="menu__sub">
                <a href="#" class="menu__subMenuLink">Информация</a>
                <span class="menu__arrow"></span>
                <ul class="menu__sub-list">
                  <li><a href="#" class="menu__sub-link menu__link">Новости</a></li>
                  <li><a href="#" class="menu__sub-link menu__link">Вакансии</a></li>
                </ul>
              </li>
              <li><a href="#" class="menu__link">Контакты</a></li>
            </ul>
          </menu>

          <nav class="menu__phone">
            <a href="#">+7 (3496) 45-80-00</a>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
