$container-width: 90%;

$white: #ffffff;
$text: #000000;
$lightGrey: #e7e7e7;
$main: #ee2523;
$bgDark: rgba(0, 0, 0, 0.9);
$greyBg: #f8f8f8;

$sectionHeader: 1.875rem;

$mobileS: 320px;
$mobileL: 424px;
$tablet: 850px;
$laptop: 1023px;
$laptopL: 1439px;
$fourK: 2559px;
